.cube_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17em;
  width: 15em;
  font-size: 10px;
}
.cube {
  transform-style: preserve-3d;
  transform: rotateX(-40deg) rotateY(45deg);
  padding: 0px 10em 10em 0;
  font-family: 'Aachenn';
  /* transition: all 1s ease; */
  /* transition: transform 1s ease-in-out; */
  /* animation: rotating 5s linear infinite; */
}

.side {
  pointer-events: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* border: 10px solid red; */
  /* background-color: white; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 10em;
  border-radius: 0.6em;
  overflow: hidden;
  color: #f8ec24;
  /* font-family: 'Aachenn'; */
}

.front {
  transform: translateZ(5.3em);
}

.top {
  transform: rotateX(90deg) translateZ(5.3em);
}
.wide {
  transform: scaleY(1.6);
  font-size: 8.4em;
}
.right {
  transform: rotateY(90deg) translateZ(5.3em);
}

.left {
  transform: rotateY(-90deg) translateZ(5.3em);
}

.bottom {
  transform: rotateX(-90deg) translateZ(5.3em);
}

.back {
  transform: rotateY(-180deg) translateZ(5.3em);
}
/* @-webkit-keyframes */
@keyframes rotating /* Safari and Chrome */ {
  0% {
    -webkit-transform: rotateX(-40deg) rotateY(45deg);
    -o-transform: rotateX(-40deg) rotateY(45deg);
    transform: rotateX(-40deg) rotateY(45deg);
  }
  25% {
    -webkit-transform: rotateX(-20deg) rotateY(135deg);
    -o-transform: rotateX(-20deg) rotateY(135deg);
    transform: rotateX(-20deg) rotateY(135deg);
  }
  50% {
    -webkit-transform: rotateX(-0deg) rotateY(calc(1turn / 2 + 45deg));
    -o-transform: rotateX(-0deg) rotateY(calc(1turn / 2 + 45deg));
    transform: rotateX(-0deg) rotateY(calc(1turn / 2 + 45deg));
  }
  75% {
    -webkit-transform: rotateX(-20deg) rotateY(calc(1turn - 45deg));
    -o-transform: rotateX(-20deg) rotateY(calc(1turn - 45deg));
    transform: rotateX(-20deg) rotateY(calc(1turn - 45deg));
  }
  100% {
    -webkit-transform: rotateX(-40deg) rotateY(calc(1turn + 45deg));
    -o-transform: rotateX(-40deg) rotateY(calc(1turn + 45deg));
    transform: rotateX(-40deg) rotateY(calc(1turn + 45deg));
  }
}
/* @keyframes rotating {
  0% {
    -ms-transform: rotateX(-40deg) rotateY(45deg);
    -moz-transform: rotateX(-40deg) rotateY(45deg);
    -webkit-transform: rotateX(-40deg) rotateY(45deg);
    -o-transform: rotateX(-40deg) rotateY(45deg);
    transform: rotateX(-40deg) rotateY(45deg);
  }
  50% {
    -ms-transform: rotateX(-0deg) rotateY(calc(1turn / 2 + 45deg));
    -moz-transform: rotateX(-0deg) rotateY(calc(1turn / 2 + 45deg));
    -webkit-transform: rotateX(-0deg) rotateY(calc(1turn / 2 + 45deg));
    -o-transform: rotateX(-0deg) rotateY(calc(1turn / 2 + 45deg));
    transform: rotateX(-0deg) rotateY(calc(1turn / 2 + 45deg));
  }
  100% {
    -ms-transform: rotateX(-40deg) rotateY(calc(1turn + 45deg));
    -moz-transform: rotateX(-40deg) rotateY(calc(1turn + 45deg));
    -webkit-transform: rotateX(-40deg) rotateY(calc(1turn + 45deg));
    -o-transform: rotateX(-40deg) rotateY(calc(1turn + 45deg));
    transform: rotateX(-40deg) rotateY(calc(1turn + 45deg));
  }
} */
.rotating {
  -webkit-animation: rotating 3.5s linear infinite;
  -moz-animation: rotating 3.5s linear infinite;
  -ms-animation: rotating 3.5s linear infinite;
  -o-animation: rotating 3.5s linear infinite;
  animation: rotating 3.5s linear infinite;
}
