.input_wraper {
  flex: auto;
  position: relative;
  margin-bottom: 10px;
}
.input {
  height: 40px;
  width: 100%;
  border-radius: 2px;
  border: 2px solid var(--text-secondary);
  font-family: 'AnonymousPro-Bold';
  font-size: 20px;
  transition: background-color 0.5s ease;
  background-color: var(--background);
  padding-left: 10px;
  color: var(--text-primary);
  transition: 0.5s;
}
.input_label {
  font-size: 20px;
  font-family: 'AnonymousPro-Bold';
}
.input_wraper .input_label {
  position: absolute;
  left: 12px;
  top: 10px;
  color: var(--text-secondary);
  pointer-events: none;
  transition: all 0.5s ease;
  line-height: 100%;
}
.input:focus {
  outline: none;
}
.input:focus + .input_label,
.input:not(:placeholder-shown) + .input_label {
  top: -8px;
  font-size: 16px;
  color: var(--text-secondary);
  background-color: var(--background);
  left: 8px;
  padding: 0 4px;
}
